.songTitles {
  margin-top: 4%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.songs {
  letter-spacing: 0.2em;
  display: flex;
  font-size: 3em;
  line-height: 0.8em;
}

.songs:last-child {
  margin-bottom: 0;
}

.songs a {
  text-decoration: none;
  color: black;
}

.songs a:hover {
  font-size: 1.2em;
  color: rgba(40, 109, 168, 0.5);
}

@media screen and (max-width: 420px) {
  .songs {
    font-size: 1.1em;
    line-height: 1.5em;
    display: inline-block;
  }
}
