.footer {
  left: 2em;
  bottom: 0.5em;
  letter-spacing: 0;
  font-size: 10px;
  position: absolute;
  font-weight: 800;
}

.footerPage {
  bottom: 0;
  width: 100%;
  /* position: relative; */
}

@media screen and (min-width: 1025px) {
  .footerPage {
    position: relative;
  }
}
