@import url("https://fonts.googleapis.com/css?family=Nunito:600,900");

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif !important;
  text-transform: uppercase;
  letter-spacing: 3em;
}

code {
  font-family: "Nunito", sans-serif !important;
}
