@import url("https://fonts.googleapis.com/css?family=Nunito:600,900");

.landing-fullPage {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  background-image: url("../images/background3.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 0px 3em rgba(198, 121, 83, 0.5) inset;
  min-height: 100%;

  position: absolute;
  min-width: 100%;
}

.landing-fullPage > .footerPage > .footer {
  position: absolute;
}

.landing-content h1 {
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 3px;
  padding: 10px;
  font-size: 6em;
}

.available_now {
  display: block;
  position: absolute;
  margin: 10px auto;
  padding: 1em;
  line-height: 15px;
  font-size: 15px;
  background-color: transparent;
  color: black !important;
  border: solid black 2px;
  font-weight: 800;
  font-family: "Nunito", sans-serif;
  bottom: 7%;
  right: 45%;
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
}

.available_now:hover {
  background-color: black;
  color: white !important;
}

@media screen and (max-width: 1024px) {
  .landing-fullPage {
    background-image: url("../images/background_mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 0px 2em rgba(198, 121, 83, 0.5) inset;
  }
}

@media screen and (max-width: 425px) {
  .landing-button a {
    right: 25%;
  }
}

@media screen and (max-width: 320px) {
  .landing-button a {
    right: 21%;
  }
}
