.contact-fullpage {
  box-shadow: 0px 0px 0px 3em rgba(250, 172, 5, 0.5) inset;
  min-height: 100%;
}

.contact-fullpage > .dropdown > .dropdown-list {
  background-color: rgba(250, 172, 5, 0.5) !important;
}

.socialMedia {
  width: 30%;
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
}

.socialMediaImage {
  width: 50%;
  /* height: 20em; */
  /* margin-top: 3em; */
}

/* .socialMediaText {
  letter-spacing: 0;
  text-align: center;
  width: 100%;
  font-size: 3em;
  padding-left: 2.25em;
} */

.socialText {
  font-size: 3em;
  position: absolute;
  top: 25%;
  left: 30%;
}
